<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.imserver.dao.mapper.FriendMapper">

    <resultMap id="friendMap" type="com.example.imserver.entity.FriendDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="uid" jdbcType="BIGINT" property="uid"/>
        <result column="direction" jdbcType="TIMESTAMP" property="direction"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="friend_uid" jdbcType="BIGINT" property="friendUid"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="relation_type" jdbcType="INTEGER" property="relationType"/>
        <result column="latest_msg" jdbcType="VARCHAR" property="latestMsg"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
        <!--        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>-->
        <result column="unread" jdbcType="INTEGER" property="unread"/>
        <result column="friend_status" jdbcType="INTEGER" property="friendStatus"/>
    </resultMap>
    <delete id="deleteFriend" parameterType="java.lang.Long">
        update
            imy.friend
        set friend_status = 1
        where uid = #{uid}
          and friend_uid = #{friendUid}
    </delete>
    <update id="editRemark">
        update imy.friend
        set remark = #{remark}
        where uid = #{uid}
          and friend_uid = #{friendUid}
    </update>
</mapper>